* {
  transition: all 2s;
}

body {
  background-color: #1c1c1c;
  color: white;
  margin: 0;
  overflow: hidden;
}

input {
  /* display none hides uplaod button */
  display: none;
}

.file-upload {
  background-image: linear-gradient(to top left, #ff8a00, #e52e71);
  cursor: pointer;
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Operational Buttons */
/* ------------------------------------------ */
#buttons {
  text-align: center;
}

.button-player {
  border: none;
  background-color: transparent;
  outline: none;
  margin: 20px;
}
.button-player:focus {
  border: none;
}

h1 {
  color: SLATEBLUE;
  margin: 20px;
}

/* Progress Bar */
/* -------------------------------------------- */

/* .progress-bar,
.progress-done {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
} */

#progress {
  display: flex;
  width: 400px;
  height: 40px;
  margin: auto;
  margin-bottom: 20px;
}

/* #progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  height: 20px;
  width: 400px;
  display: flex;
  margin: auto;
  margin-bottom: 30px;
} */

/* .progress-done {
  background-color: coral;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
} */
