* {
  transition: all 2s;
}

body {
  background-color: #1c1c1c;
  color: white;
  margin: 0;
  overflow: hidden;
}

input {
  /* display none hides uplaod button */
  display: none;
}

.file-upload {
  background-image: linear-gradient(to top left, #ff8a00, #e52e71);
  cursor: pointer;
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#buttons {
  text-align: center;
}

.button-player {
  border: none;
  background-color: transparent;
  outline: none;
  margin: 20px;
}
.button-player:focus {
  border: none;
}

h1 {
  color: SLATEBLUE;
  margin: 20px;
}
